/* assets/css/style.css */

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #070707;
    color: #fffae4af;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #141414;
    border-bottom: 2px solid #14110310;
}

.menu-icon {
    font-size: 28px;
    cursor: pointer;
    color: #fffae4af;
}

.search-bar {
    flex-grow: 1;
    margin: 0 30px;
}

.search-bar input {
    width: 100%;
    padding: 12px;
    border: 2px solid #fffae4af;
    border-radius: 5px;
    background-color: #4A4A4A;
    color: #fffae4af;
}
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    width: 80%;
  }
  
  .input {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 45px;
    padding-left: 2.5rem;
    box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
    border: 0;
    border-radius: 12px;
    background-color: #16171d;
    outline: none;
    color: #bdbecb;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: text;
    z-index: 0;
  }
  
  .input::placeholder {
    color: #bdbecb;
  }
  
  .input:hover {
    box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
  }
  
  .input:active {
    transform: scale(0.95);
  }
  
  .input:focus {
    box-shadow: 0 0 0 2.5px #2f303d;
  }
  
  .search-icon {
    position: absolute;
    left: 1rem;
    fill: #bdbecb;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    z-index: 1;
  }
  
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: linear-gradient(45deg, #fffae4af, #fce8a7);
    box-shadow: 0 0 24px #ffb20861;
    border: 2px solid #000000;
    border-radius: 100px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease,
      text-shadow 0.3s ease;
    padding: 10px 20px;
    color: #09090b;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Text drop shadow */
  }
  
  .button:hover {
    background-color: #f1bd5b !important;
    box-shadow: 0 0 34px #ffb20861 !important;
    text-shadow: 0 0 4px #ffe825; /* Hover text shadow */
    border-color: #fff7b2 !important;
  }
  
  .icon {
    margin-right: 5px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3)); /* Icon drop shadow */
  }
  
main {
    flex-grow: 1;
    padding: 40px 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer {
    background-color: #0e0e0e;
    padding: 20px 0;
    border-top: 2px solid #141414;
    text-align: center;
    margin-top: auto;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: #fffae446;
    margin: 0 10px;
}

footer p {
    color: #fffae438;
    font-size: 16px ;
    margin: 5px 0;
}

/* styles.css */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px #fffae4af;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000; /* Ensure sidebar appears above other content */
}

.sidebar a {
    padding: 10px 16px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 36px;
    color: #fffae4af;
    cursor: pointer;
}

.openbtn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    cursor: pointer;
}

.content {
    margin-left: 250px; /* Adjust margin to accommodate sidebar width */
    transition: margin-left 0.5s;
    padding: 16px;
}

.openbtn:hover {
    color: #f1f1f1;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #141414;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    right: 0;
    top: 60px; /* Adjust as needed for positioning */
}

.dropdown-content a {
    color: #fffae4af;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #fffae4af;
    color: #141414;
}


.popup-formm {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(5px);
}

.form-container {
    position: absolute;
    top: 10%; /* Adjust the top position as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: #1b1b1b;
    backdrop-filter: blur(8px);
    width: 80%; /* Adjust width as needed */
    max-width: 500px; /* Adjust max-width as needed */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(172, 165, 161, 0.904);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container label {
    color: #fff;
    margin-bottom: 8px;
}

.form-container input[type="text"],
.form-container select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
}

  input[list] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
}

input[list]::placeholder {
    color: #999;
    background-color: #333;
}


  .form-containerr select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 5px;
  }
  
  .form-containerr select:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .form-containerr .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
    border-radius: 10px;
  }
  
  .form-containerr .cancel {
    background-color: red;
  }
  
  .form-containerr .btn:hover {
    opacity: 1;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #fffae4;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .close:hover {
    color: red;
  }
  /* uploadd */
  .custum-file-upload {
    height: 200px;
    margin-top: 20px;
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    border: 2px dashed #e8e8e8;
    background-color: #212121;
    padding: 1.5rem;
    border-radius: 10px;
    
}
  
  .custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .icon svg {
    height: 80px;
    fill: #e8e8e8;
  }
  
  .custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .text span {
    font-weight: 400;
    color: #e8e8e8;
  }
  
  .custum-file-upload input {
    display: none;
  }
  .buttonn {
    width: 100%;
    position: relative;
    margin-top: 20px;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #fffae4af;
    background-size: 400%;
    color: #333;
    border: none;
    cursor: pointer;
  }
  
  .buttonn:hover::before {
    transform: scaleX(1);
  }
  
  .buttonn-content {
    position: relative;
    color: #000;
    
    z-index: 1;
  }
  
  .buttonn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    color: #000;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgb(214, 190, 146) 10.8%,
      rgb(235, 210, 129) 94.3%
    );
    transition: all 0.475s;
  }
  
  /* profile */
  .popup {
    
    --burger-offset: 0.625em;
    --burger-bg: #fffae4af;
    --burger-color: #333;
    --burger-line-border-radius: 0.1875em;
    --burger-diameter: 3.125em;
    --burger-btn-border-radius: calc(var(--burger-diameter) / 2);
    --burger-line-transition: 0.3s;
    --burger-transition: all 0.1s ease-in-out;
    --burger-hover-scale: 1.1;
    --burger-active-scale: 0.95;
    --burger-enable-outline-color: var(--burger-bg);
    --burger-enable-outline-width: 0.125em;
    --burger-enable-outline-offset: var(--burger-enable-outline-width);
    /* nav */
    --nav-padding-x: 0.20em;
    --nav-padding-y: 0.600em;
    --nav-border-radius: 0.375em;
    --nav-border-color: #ccc;
    --nav-border-width: 0.0625em;
    --nav-shadow-color: rgba(0, 0, 0, 0.2);
    --nav-shadow-width: 0 1px 5px;
    --nav-bg: #918f87af;
    --nav-font-family: "Poppins", sans-serif;
    --nav-default-scale: 0.8;
    --nav-active-scale: 1;
    --nav-position-left: 0;
    --nav-position-right: unset;
    /* if you want to change sides just switch one property */
    /* from properties to "unset" and the other to 0 */
    /* title */
    --nav-title-size: 0.625em;
    --nav-title-color: #fffae4;
    --nav-title-padding-x: 1rem;
    --nav-title-padding-y: 0.25em;
    /* nav button */
    --nav-button-padding-x: 1rem;
    --nav-button-padding-y: 0.375em;
    --nav-button-border-radius: 0.375em;
    --nav-button-font-size: 17px;
    --nav-button-hover-bg: #fffae4af;
    --nav-button-hover-text-color: #000;
    --nav-button-distance: 0.875em;
    /* underline */
    --underline-border-width: 0.0625em;
    --underline-border-color: #ccc;
    --underline-margin-y: 0.3125em;
  }
  
 
  /* profile */
/* Responsive Design */
@media (max-width: 767px) {
    .semesters {
        grid-template-columns: repeat(2, 1fr);
        width: 95%;

    }

    .semester {
        width: 80%;
    }

    .search-bar {
        margin: 0 15px;
    }

   
    .upload-text {
        display: none;
    }
    
}
